

<div class="container">
         <h2 class="form-signin-heading">Edit video for <%- displayVideo.title %></h2>
<div class="col-xs-6">

     <form method="POST" action="/videos/update/<%= displayVideo.id %>" class="form-signin">

       <label for="title" ><b>Title:</b></label>
       <input type="text" class="form-control" placeholder="Song Title" name="title" value="<%= displayVideo.title %>">

       <label for="artist"><b>Atrist:</b></label>
       <input type="text" placeholder="Artist" class="form-control" name="artist" value="<%= displayVideo.artist %>">
      </input>

      <label for="description" ><b>Description:</b></label>
      <input type="text"  class="form-control" placeholder="Video Description" name="description" value="<%= displayVideo.description %>">

      <label for="genre" ><b>Genre:</b></label>
      <input type="text" placeholder="What Genre is this?" class="form-control" name="genre" value="<%= displayVideo.genre %>">
     </input>

      <label for="videoUrl" ><b>URL:</b></label>
      <input type="text" placeholder="Video URL" class="form-control" name="videoUrl" value="<%= displayVideo.videoUrl %>">
     </input>

     <label for="thumbnail" ><b>Thumbnail:</b></label>
     <input type="text" placeholder="Link a Thumbnail" class="form-control" name="thumbNail" value="<%= displayVideo.thumbNail %>">
    </input>

       <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Video</button>
       <input type="hidden" name="_csrf" value="<%= _csrf %>">
     </form>
   </div>
   </div> <!-- /container -->
