

<div class="container">
<h2 class="form-signin-heading">Edit sheet for <%- sheet.title %></h2>
<div class="col-xs-6">
     <form method="POST" action="/sheets/update/<%- sheet.id %>" class="form-signin">

       <label for="title" ><b>Title:</b></label>
       <input type="text" class="form-control" name="title" value="<%- sheet.title %>">
       <label for="genre" ><b>Genre:</b></label>
       <input type="text" id="inputDescription" class="form-control" name="genre" value="<%- sheet.genre %>">
      </input>
      <label for="videoUrl" ><b>Sheet URL:</b></label>
      <input type="text" id="inputUrl" class="form-control" name="url" placeholder="Link the sheet" value="<%- sheet.url %>">
     </input>

       <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Sheet</button>
       <input type="hidden" name="_csrf" value="<%= _csrf %>">
     </form>
   </div>
   </div> <!-- /container -->
