

<h1>Welcome to playitonpiano</h2>

  <%- partial ('../nav/subnav.ejs') %>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        <% for(sheet in sheets) { %>
          <div class="row admin-rows">
               <div class="row">
                    <div id="title"  class="col-xs-12">
                      <h5>  <%= sheets[sheet].title %> </h5>
                        <hr>
                    </div>

                </div>

                <div class="row">

                   <div class="col-xs-3 " >
                      <a href="<%= sheets[sheet].url%>"><i class="fa fa-file-text fa-5x"></i> </a>
                    </div>
                <div class="col-xs-9">
                    <div class="row">
                        <div id="artist"  >
                          <b>Artist: <%= sheets[sheet].artist %> </b>
                        </div>
                    </div>

                    <div class="row">
                          <b>Genre:</b> <span class="genre"><%= sheets[sheet].genre %></span>
                    </div>

                </div>
                <hr>
              </div>
              <hr>
          </div>

        <% } %>
          </div>

      </div>
